
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 20px;
    background-color: #e6e6e6;
}

label:not(.radio), input[type="submit"], #radio-container {
    display: block;
    margin-top: 20px;
}

textarea {
    display: block;
    min-width: 300px;
    min-height: 300px;
}

